.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 13vh;
    background-color: rgb(70, 196, 255);
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
}

p {
    font-size: 3vh;
}

.navBar div {
    display: flex;
    align-items: center;
}

.modal-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-body div input {
    width: 24vw;
}

.contentNav {
    display: flex;
    width: 20vw;
    justify-content: space-around;
}

.contentNav button {
    background-color: transparent;
    border: none;
    font-size: 1.7vw;
}

#Logo {
    width: 7vw;
    height: 10vh;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-inner div img {
    width: 90vw;
    height: 80vh;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    text-align: center;
}

.cardsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:justify;
    height: 100%;
}

.imgCards {
    width: 100%;
    height: 100%;
}

.registerbtn {
    width: 30vw;
    height: 15vh;
    margin-top: 3vh;
    border-radius: 1vw;
    font-size: 2vw;
    border: none;
    background-color: rgb(255, 215, 0);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 25vh;
    background-color: rgb(62, 123, 255);
    margin-top: 5vh;
}

.footerOptions {
    display: flex;
    align-items: center;
    height: 6vh;
    font-size: 1.3vw;
}

.footerOptions img {
    width: 2vw;
    height: 4vh;
    margin-right: 1vw;
}

.contacts {
    display: flex;
    min-width: 15vw;
    justify-content: space-around;
}

.contacts img{
    width: 4vw;
    height: 8vh;
}


